body{
	margin: 0px;
	padding: 0px;
}
.navigation{
	color: white;
	font-weight: bolder;
}
a{
	text-decoration: none;
	
	text-align: center;
	font-weight: bolder;
}
/*a:hover{
	color: rgba(1,1,1,1);
}*/
.mid{
	/*margin-left: 290px;*/
	
}
#button-group{
	margin-top: 30px;
	display: block;
}
#button-group>button{
	margin: 5px;
	border: 3px solid white;
	text-decoration:none;
}
.btn-transparent{
	background-color: rgba(0,0,0,0);
	color: white;
}
.btn-white{
	background-color: white;
	color: black;
}
#home{
	width: 100%;
	background-image: url('text_rotator_slide.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	padding-top: 15%;
	color: white;
}
h1{
	font-size: 78px;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 21px;
}
/*banner*/
#banner{
	height: 100vh;
	padding: 150px 0px;
}
#welcome{
	font-size: 40px;
	font-weight: bolder;
	outline: #000000 solid thick;
	padding: 50px;
}
#welcometext{
	color: grey;
	font-size: 18px;
}
.margin{
	margin-top: 100px;
}
#intro_logo{
	margin-top: 30px;
}
/*numbers*/
.numbers{
	width: 100%;
}
.numbers i{
	color: white;
	font-size: 55px;
	margin-top: 3px;
}
.numbers_1{
	color: white;
	background-color: #1b1b1b;
	padding: 130px 0px;
}
.numbers_2{
	color: white;
	background-color: #212121;
	padding: 130px 0px;
}
.numbers_3{
	color: white;
	background-color: #292929;
	padding: 130px 0px;
}
.num{
	display: inline-block;
	width: 160px;
	margin-left: 20px; 
}
.numbers_text{
	display: block;
	font-size: 13px;
	color: #929292;
}
.numbers_number{
	display: block;
	font-size: 36px;
	font-family: "Montserrat", sans-serif;
}
/*services*/
.cont{
	background-color: #f7f7f7;
	padding-top: 150px;
	padding-bottom: 130px;
}
#services{
	background-color: #f7f7f7;
	margin:0px 90px;
}
.heading{
	margin-bottom: 60px;
}
.heading h2{
	display: block;
	font-weight: 700px;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 10px;
}
.heading p{
	font-family: "Pt Serif", serif;
	font-style: italic;
	font-size: 16px;
	color: #7a7a7a;
	margin-bottom: 10px;
}
.service-item{
	padding: 0px 15px;
	margin-bottom: 30px;
}
.service-item-box{
	background-color: white;
	padding: 60px 40px;
}
.service-item-box a{
	margin-bottom: 27px;
	text-decoration: none;
}
.hi-icon{
	color: #bfa67a;
	border: 3px solid #bfa67a;
	border-radius: 50%;
	font-weight: 700px;
	font-size: 24px;
	line-height: 70px;
	cursor: pointer;
	padding: 20px;

}
.hi-icon:hover{
	box-shadow: 0 0 0 2px #111;
	background-color: black;
	color:white;
	border: 3px solid #fff;
	transition: all 0.2s ease-in-out;
}
.service-item-box h3{
	margin-bottom: 21px;
}
.service-item-box p{
	font-size: 15px;
	color: #7a7a7a;
	line-height: 25px;
}
/*services end*/
/*works start*/
.work{
	padding-top: 150px;
}
#works{
	padding: 0px 50px;
}
.work-item{
	padding: 0px 0px 20px 5px;
	margin: 0px !important;
}
.work-img{
	position: relative;
}
.work-img img{
	filter: grayscale(100%);
	transition: all 0.3s ease-in-out;
}
/*.work-overlay{
	background-color: rgba(20, 20, 20, 0.7);
	border: 10px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.work-description{
	position: absolute;
	display: block;
	left: 8%;
	top: 8%;
	width: 80%;
	transition: all 0.2s ease-in-out;
}
.work-description h3{
	font-size: 16px;
	margin-bottom: 5px;
	color: #fff;
}
.work-description a{
	text-decoration: none;
	color: #fff;
	outline: none;
	transition: color 0.2s ease-in-out;
}
.work-description span{
	transform: translateX(-360px);
	transition: all 0.2s ease-in-out;
	display: inline-block;
	font-size: 13px;
	color: white;
}
.veiw-work{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border: 3px solid #fff;
	font-size: 14px;
	padding: 13px 34px;
	font-family: "Montserrat", sans-serif;
	transition: all 0.2s ease-in-out;
}*/